#cards-container {
    margin-left: 20px;
    column-gap: 20px;
    row-gap: 20px;
}

.wd-course-card .card {
    width: 250px;
}

.wd-color-image {
    background-color: rgb(53, 74, 169);
    height: 150px;
}

.wd-course-card .wd-card-title{
    color: rgb(0, 0, 0);
}

.wd-course-card .wd-card-text{
    color: gray;
    text-decoration: none;
}

.wd-course-card a {
    text-decoration: none;
}