.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;
  width: 80px;
}

.wd-kanbas-navigation li {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 0.8em;
  text-align: center;
}


.wd-kanbas-navigation li.wd-active {
  background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
  color: red;
}

.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
  display: block; 
  padding: 5px;   
}

.wd-kanbas-navigation li i{
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
  display: block;
}

.wd-kanbas-navigation li:first-child i{
  color: white;
}

.wd-kanbas-navigation li.wd-active:first-child i {
  color: darkgray;
}

.wd-flex-row-container > .col-md-11 {
  padding-left: 40px;
}